---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import Background from "~/components/Background.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";

interface Props {
  title: string | undefined;
}
const defaultTitle = "Camila Aracena - Ingeniera Civil";

const { title = defaultTitle } = Astro.props;

const websiteTitle = "Camila Aracena - Ingeniera Civil";
const linkWebsite = "http://camila-aracena.cl";
const websiteImage = "http://camila-aracena.cl/images/home/menu-2.jpg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={websiteTitle} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- <meta property="og:title" content="MathBio Lab" />
    <meta
      property="og:description"
      content="Grupo de investigación en modelado matemático y biología."
    />
    <meta property="og:image" content={websiteImage} />
    <meta property="og:url" content={linkWebsite} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="MathBio Lab" />
    <meta name="twitter:description" content={defaultTitle} />
    <meta name="twitter:image" content={websiteImage} /> -->

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body class="min-h-screen overflow-x-hidden">
    <ClientRouter />
    <Background />
    <Header />
    <main class="grid">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-display), sans-serif;
  }

  .featured {
    padding: 4rem 1rem;
  }

  @media (min-width: 640px) {
    .featured {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .grid {
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-columns:
      [full-width-start]
      minmax(2rem, 1fr)
      [content-start]
      min(1400px, 100% - 4rem)
      [content-end]
      minmax(2rem, 1fr)
      [full-width-end];
  }

  .grid > * {
    grid-column: content-start / content-end;
  }

  @layer base {
    :root {
      color-scheme: light;
      --primary: #607afb;
      --color-background-light: #f5f6f8;
      --color-background-dark: #0f1323;

      --font-display: "Public Sans";
      --radius-default: 0.25rem;
      --radius-lg: 0.5rem;
      --radius-xl: 0.75rem;
      --radius-full: 9999px;
    }
  }
</style>
